<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beWoody.tanner.KISS_List">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
    >
        <activity
            android:name=".activity_manage_category"
            android:label="@string/app_name">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pop"
            android:parentActivityName="com.beWoody.tanner.KISS_List.activity_manage_category"
            android:theme="@style/AppTheme.categoryPopup">
        </activity>
        <activity
            android:name=".Pop_tasks"
            android:parentActivityName="com.beWoody.tanner.KISS_List.activity_manage_tasks"
            android:theme="@style/AppTheme.categoryPopup">
        </activity>
        <activity
            android:name=".Pop_renameContent"
            android:parentActivityName="com.beWoody.tanner.KISS_List.activity_manage_tasks"
            android:theme="@style/AppTheme.categoryPopup">
        </activity>
        <activity
            android:name=".Pop_renameContent_cat"
            android:parentActivityName="com.beWoody.tanner.KISS_List.activity_manage_category"
            android:theme="@style/AppTheme.categoryPopup">
        </activity>
        <activity
            android:name=".activity_manage_tasks"
            android:parentActivityName="com.beWoody.tanner.KISS_List.activity_manage_category"
            >
        </activity>
        <activity
            android:name=".Settings">
            <!--
            android:parentActivityName="com.beWoody.tanner.KISS_List.activity_manage_category">
            -->

        </activity>
        <activity android:name=".Pop_settings_fontsize"
            android:theme="@style/AppTheme.categoryPopup"
            android:parentActivityName="com.beWoody.tanner.KISS_List.Settings">

        </activity>
        <activity android:name=".Pop_settings_font"
            android:theme="@style/AppTheme.categoryPopup"
            android:parentActivityName="com.beWoody.tanner.KISS_List.Settings">

        </activity>
        <activity android:name=".Pop_settings_colors"
            android:theme="@style/AppTheme.categoryPopup"
            android:parentActivityName="com.beWoody.tanner.KISS_List.Settings">

        </activity>

    </application>

</manifest>